
input {
    position: relative;
    margin: 1in 0;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#output {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px;
    width: 100em;
    height: 670px;
    overflow: scroll;
}